.button1
{
-fx-background-color :  #F6F1F1;
-fx-background-radius :  15 0 15 0;
 -fx-border-width: 3;
 -fx-border-radius: 15 0 15 0;
}
.button1:hover
{
-fx-border-color :  linear-gradient(to bottom left, #05BFDB,#00FFCA);
-fx-background-radius :  15 0 15 0;
 -fx-border-radius: 15 0 15 0;

}
.button1:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  30 0 0 30;
}

.button2
{
-fx-background-color : #19A7CE;
-fx-background-radius: 0;

}
.button2:hover
{
-fx-background-color : #F6F1F1;
-fx-background-radius :  15 0 15 0;
-fx-text-fill: black;

}
.button2:pressed
{
-fx-background-color : #F6F1F1;
-fx-background-radius :  20;
-fx-text-fill: black;

}

.button3
{
    -fx-background-color : #141124;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #524A7B ;
}
.button3:pressed
{
    -fx-background-color : #2F2B43 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}


.combo-box
{
    -fx-background-color : #F6F1F1;
    -fx-border-color :  linear-gradient(to bottom left, #05BFDB,#00FFCA);
    -fx-border-width: 3;
    -fx-border-radius: 30;
    -fx-text-fill: white;

}
.combo-box:hover
{
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
    -fx-text-fill: white;

}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: #000000;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}
.sideBar {
    -fx-background-color: #146C94;
}

.button {
    -fx-background-insets: 0, 1, 2,0;
    -fx-background-radius :  10 10 10 10;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: Top;

}

.label {
    -fx-background-insets: 0, 1, 2,0;
    -fx-background-radius :  10 10 10 10;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-background-color: linear-gradient(to bottom left, #00FFCA, #088395);

}

.button:focused {

    -fx-background-color: rgb(60,127,177),
    linear-gradient(
        to bottom,
        rgb(55,213,254) 0%,
        rgb(54,212,253) 50%,
        rgb(49,210,251) 50%,
        rgb(44,206,248) 100%),
    linear-gradient(
        to bottom,
        rgb(178,234,250) 0%,
        rgb(173,231,247) 50%,
        rgb(158,222,241) 50%,
        rgb(144,212,234) 100%),
    linear-gradient(
        to bottom,
        rgb(237,245,249) 0%,
        rgb(231,241,246) 50%,
        rgb(208,229,240) 50%,
        rgb(191,218,233) 100%);

    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-radius: 3, 2, 2, 1;
}

/* OK */
.button:hover {

    -fx-background-color: rgb(60, 127, 177),
    linear-gradient(
        to bottom,
        rgb(250, 253, 254) 0%,
        rgb(245, 251, 254) 50%,
        rgb(239, 249, 254) 50%,
        rgb(232, 245, 252) 100%),
    linear-gradient(
        to bottom,
        rgb(234, 246, 253) 0%,
        rgb(217, 240, 252) 50%,
        rgb(190, 230, 253) 50%,
        rgb(167, 217, 245) 100%);
}

/* OK */
.button:armed {

    -fx-background-color: rgb(44, 98, 139),
    linear-gradient(
        to bottom,
        rgb(157, 175, 185) 0%,
        rgb(154, 186, 203) 50%,
        rgb(120, 170, 197) 50%,
        rgb(85, 146, 181) 100%),
    linear-gradient(
        to bottom,
        rgb(228, 243, 251) 0%,
        rgb(196, 229, 246) 50%,
        rgb(152, 209, 239) 50%,
        rgb(104, 178, 218) 100%);

    -fx-color: -fx-pressed-base;
    -fx-background-insets: 0, 1, 2 2 1 2;
    -fx-background-radius: 3, 2, 2;
}